{{>main-header}}
<div class="main-div">
    <div class="card text-center" style="width: 30rem;">
    <div class="card-header h5 text-white bg-dark">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <form action="/admin/forget" method="post">
            <div class="form-outline">
                <input type="email" name="key" id="adminKey" class="form-control my-3" placeholder="Enter your id" required/>
            </div>
            <input type="submit" value="Reset password" class="btn btn-dark w-100">
        </form>
        <p class="text-danger">{{message}}</p>
        <a href="/admin">Login</a>
    </div>
</div>
</div>

{{>user-footer}}